// Настройки диспетчера безопасности Java...

// Снимаем все ограничения (в реальном приложении так делать нельзя!):
grant {
 permission java.security.AllPermission;
}; 

